#section1 {
    background-image: url('../img/1.jpg');
    height: 700px;
    background-size: cover;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100vh;
    /* background: url('../img/scroll.jpeg'); */
    background-image: url('../img/parth.jpg');
    background-attachment: fixed;
    clip-path: circle(0px at center);
}

.container_scroll {
    position: relative;
    margin-top: 200vh;
    background: #fff;
    padding: 100px;
}

.title_scroll {
    position: relative;
    top: 250px;
    z-index: 1;
    font-size: 3em;
    text-align: center;
}


/* ringeffect for education */

.square_ring {
    position: relative;
    max-width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square_ring span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square_ring:hover span:nth-child(1)
/* {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%; */

{
    border: none;
    background: rgba(7, 7, 7, 0.5);
}

.square_ring span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.square_ring:hover span:nth-child(2)
/* {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%; */

{
    border: none;
    background: rgba(7, 7, 7, 0.5);
}

.square_ring span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.square_ring:hover span:nth-child(3)
/* {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%; */

{
    border: none;
    background: rgba(7, 7, 7, 0.5);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    /* 0%
    {
        transform: rotate(0deg);
    } */
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
    /* 0%
    {
        transform: rotate(0deg);
    } */
}

.content_ring {
    position: relative;
    padding: 40px 60px;
    /* color: #fff; */
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.content_ring:hover {
    color: #fff;
}